body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 36px;
	margin-left: 45%;
	margin-right: 45%;
	color: #d8e400;
	background-color: #d8e4d4;
}

#resume {
	margin-right: auto;
	margin-left: auto;
}